body {
  margin: 0;
}
.main {
  margin: 0 auto;
  font-family: 'Brygada 1918', serif;
  background-color: #500805;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.book_image {
  width: 210px;
  height: 300px;
  transition: transform 200ms linear;
}

.book_image:hover {
  transform: scale(1.2);
}

.book_container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d09683;
  min-width: 200px;
  height: 570px;
  border-radius: 10px;
}

.title {
  margin: 0;
  margin-top: 25px;
  color: #500805;
  font-size: 29px;
  width: 200px;
  text-align: center;
  min-height: 93px;
}

.book_author {
  margin: 0;
  margin-top: 20px;
  color: #500805;
  font-size: 19px;
  width: 180px;
  text-align: center;
}

.book_language {
  margin: 0;
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 180px;
  text-align: center;
}
